<ion-content class="ion-padding">  
  <div class="content-tabs" style="margin-top: 10vh;">
    <div class="">
        <div class="wrapper-content">
            <div class="themesflat-container">
                <div class="row">
                    <div class="col-12">
                        <div class="product-item item-activity mb-0">
                            <h6><i class="icon-two-arrow rotateZ90"></i>Item activity</h6>
                            <i class="icon-keyboard_arrow_down"></i>
                            <div class="content">
                                <div class="table-heading">
                                    <div class="column">Event</div>
                                    <div class="column">Amount</div>
                                    <div class="column">Form</div>
                                    <div class="column">To</div>
                                    <div class="column">Date</div>
                                </div>
                                <span *ngIf="metadata">
                                  <div class="table-item" *ngFor="let h of metadata.history">
                                      <div class="column flex items-center">
                                        <i class="icon-two-arrow"></i>{{ h.event }}
                                      </div>
                                      <div class="column">{{ h.amount }}</div>
                                      <div class="column">
                                        <span class="tf-color">
                                          {{ h.from ? shortenAddress(h.from) : '-' }}
                                        </span>
                                      </div>
                                      <div class="column">
                                        <span class="tf-color">
                                          {{ h.to ? shortenAddress(h.to) : (shortenAddress(metadata.properties?.creators?.[0]?.address) || 'Unknown') }}
                                        </span>
                                      </div>
                                      <div class="column">
                                        {{ h.blockTime }}
                                      </div>
                                  </div>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</ion-content>