<ion-content class="ion-padding" (ionScroll)="onScroll($event)" scrollEvents="true">
    <div class="wrapper-content">
        <div class="inner-content" style="margin-top: 10vh;">
            <div class="action__body w-full mb-40">
                <div class="tf-tsparticles">
                    <div id="tsparticles3" data-color="#161616" data-line="#000"></div>
                </div>
                <h2>Discover, create and sell your own NFT</h2>
                <div class="bg-home7">
                    <div class="swiper-container autoslider3reverse" data-swiper='{
                    "loop":true,
                    "slidesPerView": "auto",
                    "spaceBetween": 14,
                    "direction": "vertical",
                    "speed": 10000,
                    "observer": true,
                    "observeParents": true,
                    "autoplay": {
                        "delay": "0",
                        "disableOnInteraction": false
                    }
                }'>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="assets/images/item-background/bg-action-1.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="assets/images/item-background/bg-action-1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-container autoslider4reverse" data-swiper='{
                    "loop":true,
                    "slidesPerView": "auto",
                    "spaceBetween": 14,
                    "direction": "vertical",
                    "speed": 10000,
                    "observer": true,
                    "observeParents": true,
                    "autoplay": {
                        "delay": "0",
                        "disableOnInteraction": false,
                        "reverseDirection": true
                    }
                }'>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="assets/images/item-background/bg-action-1.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="assets/images/item-background/bg-action-1.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-container autoslider3reverse" data-swiper='{
                    "loop":true,
                    "slidesPerView": "auto",
                    "spaceBetween": 14,
                    "direction": "vertical",
                    "speed": 10000,
                    "observer": true,
                    "observeParents": true,
                    "autoplay": {
                        "delay": "0",
                        "disableOnInteraction": false
                    }
                }'>
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <img src="assets/images/item-background/bg-action-1.png" alt="">
                            </div>
                            <div class="swiper-slide">
                                <img src="assets/images/item-background/bg-action-1.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="heading-section">
                <h2 class="tf-title pb-30">All Collection</h2>
            </div>
            <div class="widget-tabs relative">
                <div class="tf-soft">
                    <div class="soft-right">
                        <div class="dropdown" [class.show]="isOpen">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4" (click)="toggleDropdown()">
                                <span>Sort by: {{ selected }}</span>
                            </button>

                            <div class="dropdown-menu" [class.show]="isOpen" aria-labelledby="dropdownMenuButton4">
                                <h6 class="dropdown-header">Sort by</h6>
                                <a class="dropdown-item" (click)="sortData('recent')">Recently added</a>
                                <a class="dropdown-item" (click)="sortData('low')">Price: Low to High</a>
                                <a class="dropdown-item" (click)="sortData('high')">Price: High to Low</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!-- Tabs -->
                <ul class="widget-menu-tab">
                    <li class="item-title" [class.active]="activeTab === 'character'" (click)="switchTab('character')">
                        <span class="inner">Character</span>
                    </li>
                    <li class="item-title" [class.active]="activeTab === 'rune'" (click)="switchTab('rune')">
                        <span class="inner">Items</span>
                    </li>
                </ul>

                <!-- Tab Content -->
                <div class="widget-content-tab">
                    <!-- Character tab -->
                    <div class="widget-content-inner" [class.active]="activeTab === 'character'">
                        <div>
                            <div class="wrap-box-card">
                                <div class="col-item" *ngFor="let nft of nftBC | slice:0:itemsToShowCharacter">
                                    <div class="tf-card-box style-4">
                                        <div class="card-media">
                                            <a href="javascript:void(0)" (click)="goToNftDetail(nft.mintAddress)">
                                                <img [src]="nft.image || 'assets/images/box-item/card-item-01.jpg'" alt="">
                                            </a>
                                            <span class="wishlist-button icon-heart" [class.active]="isFavorite(nft)" (click)="toggleFavorite(nft)"></span>
                                        </div>
                                        <h5 class="name"><a href="javascript:void(0)" (click)="goToNftDetail(nft.mintAddress)">{{ nft.name }}</a></h5>
                                        <h6
                                          class="price gem rarity-tag"
                                          [ngClass]="(typeof nft.character === 'object' ? nft.character?.rarity?.toLowerCase() : 'common')"
                                        >
                                          {{ typeof nft.character === 'object' ? nft.character?.rarity : '' }}
                                        </h6>

                                        <div class="author flex items-center">
                                            <div class="info">
                                                <span>Created by:</span>
                                                <h6>{{ shorten(nft.owner) }}</h6>
                                            </div>
                                        </div>
                                        <div class="meta-info flex items-center justify-between" style="display: flex;">
                                            <div>
                                                <span class="text-bid">Price</span>
                                                <h6 class="price gem" style="margin-top: 0px;margin-bottom: 0px;">
                                                  {{ formatPriceDisplay(nft.price, getTokenSymbol(nft)) }}
                                                  {{ getTokenSymbol(nft) }}
                                                </h6>
                                            </div>
                                            <!-- <div class="button-place-bid">
                                                <a (click)="goToNftDetail(nft.mintAddress)" class="tf-button" style="color: #161616;"><span>Buy Now</span></a>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="itemsToShowCharacter < nftBC.length">
                            <div class="col-md-12 load-more">
                                <a class="tf-button-loadmore" (click)="loadMoreCharacter()">
                                    <span>Load More</span><i class="icon-loading-1"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <!-- Rune tab -->
                    <div class="widget-content-inner" [class.active]="activeTab === 'rune'">
                        <div>
                            <div class="wrap-box-card">
                                <div class="col-item" *ngFor="let nft of nftRuneBC | slice:0:itemsToShowRune">
                                    <div class="tf-card-box style-4">
                                        <div class="card-media">
                                            <a href="javascript:void(0)" (click)="goToNftDetail(nft.mintAddress)">
                                                <img [src]="nft.image || 'assets/images/box-item/card-item-01.jpg'" alt="">
                                            </a>
                                            <span class="wishlist-button icon-heart" [class.active]="isFavorite(nft)" (click)="toggleFavorite(nft)"></span>
                                        </div>
                                        <h5 class="name">{{ nft.name }}</h5>
                                        <h6
                                          class="price gem rarity-tag"
                                          [ngClass]="(typeof nft.rune === 'object' ? nft.rune?.rarity?.toLowerCase() : 'common')"
                                        >
                                          {{ typeof nft.rune === 'object' ? nft.rune?.rarity : '' }}
                                        </h6>
                                        <div class="author flex items-center">
                                            <div class="info">
                                                <span>Created by:</span>
                                                <h6>{{ shorten(nft.owner) }}</h6>
                                            </div>
                                        </div>
                                        <div class="meta-info flex items-center justify-between" style="display: flex;">
                                            <div>
                                                <span class="text-bid">Price</span>
                                                <h6 class="price gem" style="margin-top: 0px;margin-bottom: 0px;">
                                                  {{ formatPriceDisplay(nft.price, getTokenSymbol(nft)) }}
                                                  {{ getTokenSymbol(nft) }}
                                                </h6>
                                            </div>
                                            <!-- <div class="button-place-bid">
                                                <a (click)="goToNftDetail(nft.mintAddress)" class="tf-button" style="color: #161616;"><span>Buy Now</span></a>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="itemsToShowRune < nftRuneBC.length">
                        <div class="col-md-12 load-more">
                            <a class="tf-button-loadmore" (click)="loadMoreRune()">
                                <span>Load More</span><i class="icon-loading-1"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- SIDEBAR -->
        <div class="side-bar">
            <!-- Recently Added -->
            <div class="widget widget-recently" *ngIf="latestNfts.length > 0">
                <h5 class="title-widget">Recently Added</h5>

                <div class="card-small-main">
                  <img [src]="latestNfts[0].image || 'assets/images/blog/sidebar-01.jpg'" alt="">
                  <div class="card-bottom">
                    <h5>
                      <a href="javascript:void(0)" (click)="goToNftDetail(latestNfts[0].mintAddress)">
                        {{ latestNfts[0].name }}
                      </a>
                    </h5>
                    <span class="date">{{ latestNfts[0].createdAt | date:'short' }}</span>
                  </div>
                </div>

                <div class="card-small" *ngFor="let nft of latestNfts.slice(1,4)">
                  <div class="author">
                    <img class="nft-thumb" [src]="nft.image || 'assets/images/blog/sidebar-01.jpg'" alt="">
                    <div class="info">
                      <h6>
                        <a href="javascript:void(0)" (click)="goToNftDetail(nft.mintAddress)">
                          {{ nft.name }}
                        </a>
                      </h6>
                      <p>{{ nft.owner ? shorten(nft.owner) : 'Unknown' }}</p>
                    </div>
                  </div>
                  <span class="date">{{ nft.createdAt | date:'shortDate' }}</span>
                </div>
            </div>

            <!-- Top Creators -->
            <div class="widget widget-creators" *ngIf="topCreators.length > 0">
                <div class="flex items-center justify-between" style="display: flex;">
                  <h5 class="title-widget">Top Creators</h5>
                </div>
                <div class="widget-creators-item flex items-center mb-20" *ngFor="let c of topCreators; let i = index" style="display: flex;">
                  <div class="order">{{ i + 1 }}.</div>
                  <div class="author flex items-center flex-grow" style="display: flex;">
                    <img [src]="c.avatar" alt="">
                    <div class="info">
                      <h6>{{ c.name || shorten(c.owner) }}</h6>
                      <span>{{ c.count }} NFTs</span>
                    </div>
                  </div>
                </div>
            </div>

            <!-- History -->
            <div class="widget widget-history" *ngIf="history.length > 0">
                <div class="flex items-center justify-between" style="display: flex;">
                  <h5 class="title-widget">History</h5>
                </div>
                <div class="widget-creators-item flex items-center mb-20" *ngFor="let h of history | slice:0:3" style="display: flex;">
                  <div class="author flex items-center flex-grow" style="display: flex;">
                    <a href="javascript:void(0)" (click)="goToNftDetail(h.mintAddress)">
                      <img [src]="h.image || 'assets/images/avatar/avatar-small-01.png'" alt="">
                    </a>
                    <div class="info">
                      <h6><a href="javascript:void(0)" (click)="goToNftDetail(h.mintAddress)">{{ h.name }}</a></h6>
                      <span>Listed at {{ h.price }}</span>
                    </div>
                  </div>
                  <span class="time">{{ h.updatedAt | date:'shortDate' }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="progress-wrap" [class.active-progress]="scrollIsActive" (click)="scrollToTop()">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 286.138;"></path>
        </svg>
    </div>
</ion-content>