.bg-primary {
    background: linear-gradient(45deg, #524afc 0%, #1ac4fc 100%);
}

.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 14px;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 5px;
}