<ion-content class="ion-padding">
  <div class="content-tabs" style="margin-top: 10vh;">
      <div class="">
        <div class="wrapper-content-create">
            <div class="widget-tabs relative">
                <div class="widget-content-tab">
                    <div class="widget-content-inner buy-gatcha active">
                        <div class="wrap-content w-full">
                            <div class="inner-content">
                                <div class="heading-section">
                                    <h2 class="tf-title pb-20">Buy Gatcha</h2>
                                </div>
                                <div class="top-collections style-bottom mb-40">
                                    <div class="featured pt-10 swiper-container carousel3-type1" data-swiper='{
                                        "loop":false,
                                        "slidesPerView": 1,
                                        "spaceBetween": 25,
                                        "observer": true,
                                        "observeParents": true,
                                        "navigation": {
                                            "clickable": true,
                                            "nextEl": ".next-type1",
                                            "prevEl": ".prev-type1"
                                        },
                                        "pagination": {
                                            "el": ".pagination-type1",
                                            "clickable": true
                                        },
                                        "breakpoints": {
                                            "768": {
                                                "slidesPerView": 1
                                            },
                                            "1024": {
                                                "slidesPerView": 3
                                            }
                                        }
                                    }'>
                                        <div class="swiper-wrapper">
                                          <div class="swiper-slide" *ngFor="let pack of gatchaPacks">
                                            <div class="tf-card-collection">
                                              <a href="javascript:void(0)">
                                                <div class="media-images-collection grid-2x2" [class.shuffling]="pack.isShuffling">
                                                  <ng-container *ngFor="let reward of pack.rewards">
                                                    <img *ngFor="let img of reward.previewImages | slice:0:4"
                                                         [src]="img"
                                                         [alt]="reward.type + ' ' + reward.rarity"
                                                         class="reward-img" />
                                                  </ng-container>

                                                  <!-- Final Result Overlay -->
                                                  <div class="final-overlay" *ngIf="pack.finalImage">
                                                    <img [src]="pack.finalImage" alt="Final Result" class="final-img" />
                                                  </div>
                                                </div>
                                              </a>
                                              <div class="card-bottom mb-20">
                                                <div class="author">
                                                  <h5 style="font-size: 24px;">{{ pack.name }}</h5>
                                                  <p>{{ pack.description }}</p>
                                                </div>
                                                <div class="bottom-right">
                                                  <!-- <div class="shop"> 
                                                    <div class="icon">
                                                      <img src="assets/images/box-icon/coin-00.png" alt="">
                                                    </div>
                                                    <p>{{ pack.priceUOG }}</p>
                                                  </div> -->
                                                  <div class="shop" style="margin-right: 0px;border-right: 0px;"> 
                                                    <div class="icon">
                                                      <img src="assets/images/box-icon/coin-04.png" alt="">
                                                    </div>
                                                    <p>{{ pack.priceSOL }}</p>
                                                  </div>
                                                </div>
                                              </div>
                                              <!-- Tombol Buy & Mint -->
                                              <div class="btn-submit flex gap30 justify-center mt-3">
                                                <button class="tf-button style-1 h40" (click)="toggleSendModal(pack)" style="color: #161616;">
                                                  Buy & Mint <i class="icon-arrow-up-right2"></i>
                                                </button>
                                              </div>
                                            </div>
                                          </div>
                                        </div>

                                        <div class="swiper-pagination pagination-type1"></div>
                                        <div class="swiper-button-next next-type1"></div>
                                        <div class="swiper-button-prev prev-type1"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div> 
  </div>
  <!-- /#page -->

  <div class="custom-modal" *ngIf="showSendModal">
    <div class="modal-backdrop" (click)="resetSendModal()"></div>

    <div class="modal-sheet" [ngClass]="{ 'slide-up': !isClosingSend, 'slide-down': isClosingSend }">

      <!-- Step 1: Pilih Token -->
      <div *ngIf="!selectedToken && !isSending && !txSig">
        <h2 class="modal-title">Select Token to Send</h2>

        <!-- 🔍 Search bar -->
        <form action="#" method="get" role="search" class="search-form relative" (submit)="$event.preventDefault()">
          <input
            type="search"
            id="search"
            class="search-field style-1"
            placeholder="Search..."
            [(ngModel)]="tokenSearch"
            name="tokenSearch"
            title="Search for"
          />
          <button class="search search-submit" type="submit" title="Search">
            <i class="icon-search"></i>
          </button>
        </form>

        <!-- List token -->
        <div class="widget-table-ranking pb-20" *ngIf="filteredTokens.length > 0">
          <div
            class="table-ranking-content"
            *ngFor="let token of filteredTokens"
            (click)="confirmBuyAndMint(token)"
          >
            <div data-wow-delay="0s" class="fl-row-ranking">
              <div class="td1">
                <div class="item-avatar">
                  <img [src]="token.logoURI || 'assets/images/box-item/rank-01.jpg'" alt="{{token.symbol}}">
                </div>
                <div class="item-name">
                  {{ token.symbol }}
                  <h6 class="price gem pt-10">{{ token.amount }}</h6>
                </div>
              </div>
              <div class="td5">
                <h6 class="price gem">
                  ${{ token.usdValue }}
                  <div class="td4 warning pt-10">
                    <span [ngClass]="token.trend > 0 ? 'warning' : (token.trend < 0 ? 'danger' : '')">
                      {{ token.trend > 0 ? '+' : ''}}{{ token.percentChange | number:'1.2-2' }}%
                    </span>
                    <i [ngClass]="token.trend > 0 ? 'icon-arrow-up2 warning' : (token.trend < 0 ? 'icon-arrow-down2 danger' : '')"></i>
                  </div>
                </h6>
              </div>
            </div>
          </div>
        </div>

        <!-- Kalau hasil kosong -->
        <div class="no-result" *ngIf="filteredTokens.length === 0">
          No tokens found
        </div>

        <div class="modal-actions">
          <button type="button" class="btn-cancel" (click)="resetSendModal()">Cancel</button>
        </div>
      </div>

      <!-- Step 2: Loading / Success -->
      <div *ngIf="isSending || txSig" @fadeSlide>
        <h2 class="modal-title" *ngIf="isSending">Processing Transaction...</h2>
        <div *ngIf="isSending" class="loading-spinner">
          <ion-spinner name="crescent"></ion-spinner>
        </div>

        <div *ngIf="txSig" class="success-tx" @fadeSlide>
          <h2 class="modal-title">Transaction Successful</h2>
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          <!-- <p>You sent {{ selectedToken?.amount }} {{ selectedToken?.symbol }}</p> -->
          <a
            [href]="'https://solscan.io/tx/' + txSig + '?cluster=mainnet'"
            target="_blank"
            class="btn-send"
          >
            View on Solscan
          </a>
          <div class="modal-actions">
            <button type="button" class="btn-cancel" (click)="resetSendModal()">
              Close
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</ion-content>