<div id="wrapper">
    <div id="page" class="pt-40">
        <header id="header_main" class="header_1 header-fixed">
            <div class="themesflat-container">
                <div class="row">
                    <div class="col-md-12">                              
                        <div id="site-header-inner"> 
                            <div class="wrap-box flex">
                                <div id="site-logo">
                                    <a [routerLink]="['/login']" style="color: #161616;" class="tf-button style-1">
                                        <span>Login / Sign Up</span>
                                    </a>
                                </div><!-- logo -->
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="flat-title-page">
            <div class="widget-bg-line">
                <div class="wraper">
                    <div class="bg-grid-line y bottom">
                        <div class="bg-line"></div>
                    </div>
                </div>
            </div>
            <div class="themesflat-container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="heading text-center">Explore NFT's</h1>
                        <ul class="breadcrumbs flex justify-center">
                            <li class="icon-keyboard_arrow_right">
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Explore</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="tf-section-2 discover-item loadmore-12-item">
            <div class="themesflat-container">
                <div class="row">
                    <div class="col-12">
                        <div class="widget-tabs relative">
                            <div class="tf-soft">
                                <div class="soft-right">
                                    <div class="dropdown">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M3.125 5.625H16.875M3.125 10H16.875M3.125 14.375H10" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            </svg>
                                        <span>Sort by: recently added</span>
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                            <h6 style="color: #161616;">Sort by</h6>
                                            <a href="#" class="dropdown-item">
                                                <div class="sort-filter active" href="#">
                                                    <span>Recently added</span>
                                                    <span class="icon-tick"><span class="path2"></span></span>
                                                </div>
                                            </a>
                                            <a href="#" class="dropdown-item">
                                                <div class="sort-filter" href="#">
                                                    <span>Price: Low to High</span>
                                                    <span class="icon-tick"><span class="path2"></span></span>
                                                </div>
                                            </a>
                                            <a href="#" class="dropdown-item">
                                                <div class="sort-filter" href="#">
                                                    <span>Price: High to Low</span>
                                                    <span class="icon-tick"><span class="path2"></span></span>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <ul class="widget-menu-tab">
                                <li class="item-title active">
                                    <span class="inner">Character</span>
                                </li>
                                <li class="item-title">
                                    <span class="inner">Items</span>
                                </li>
                            </ul>
                            <div class="widget-content-tab pt-10">
                                <div class="widget-content-inner active">
                                    <div class="row">
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-4" *ngFor="let nft of nftCharacter | slice:0:itemsToShowCharacter">
                                            <div class="tf-card-box style-1 h-100 d-flex flex-column">
                                                <div class="card-media">
                                                    <a href="javascript:void(0)" (click)="goToNftDetail(nft.mintAddress)">
                                                        <img [src]="nft.image || 'assets/images/box-item/card-item-53.jpg'" alt="">
                                                    </a>
                                                    <span class="wishlist-button icon-heart"></span>
                                                    <div class="featured-countdown">
                                                        <span class="js-countdown" data-timer="7500" data-labels="d,h,m,s"></span>
                                                    </div>
                                                    <div class="button-place-bid">
                                                        <a href="javascript:void(0)" (click)="goToNftDetail(nft.mintAddress)" class="tf-button">
                                                            <span>Buy NFT</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <h5 class="name"><a href="javascript:void(0)" (click)="goToNftDetail(nft.mintAddress)">{{ nft.name }}</a></h5>
                                                <div class="author flex items-center">
                                                    <div class="info">
                                                        <span>Created by:</span>
                                                        <h6>
                                                            <a href="javascript:void(0)" (click)="goToNftDetail(nft.mintAddress)">
                                                                {{ nft.owner ? shorten(nft.owner) : 'Unknown' }}
                                                            </a>
                                                        </h6>
                                                    </div>
                                                </div>
                                                <div class="divider"></div>
                                                <div class="meta-info flex items-center justify-between">
                                                    <span class="text-bid">Current Price</span>
                                                    <h6 class="price gem"><i class="icon-gem"></i>{{ nft.price }}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 load-more" *ngIf="itemsToShowCharacter < nftCharacter.length">
                                            <a class="tf-button-loadmore" (click)="loadMoreCharacter()">
                                                <span>Load More</span>
                                                <i class="icon-loading-1"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="widget-content-inner">
                                    <div class="row">
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-4" *ngFor="let nft of nftRune | slice:0:itemsToShowRune">
                                            <div class="tf-card-box style-1 h-100 d-flex flex-column">
                                                <div class="card-media">
                                                    <a href="javascript:void(0)" (click)="goToNftDetail(nft.mintAddress)">
                                                        <img [src]="nft.image || 'assets/images/box-item/card-item-53.jpg'" alt="">
                                                    </a>
                                                    <span class="wishlist-button icon-heart"></span>
                                                    <div class="featured-countdown">
                                                        <span class="js-countdown" data-timer="7500" data-labels="d,h,m,s"></span>
                                                    </div>
                                                    <div class="button-place-bid">
                                                        <a href="javascript:void(0)" (click)="goToNftDetail(nft.mintAddress)" class="tf-button">
                                                            <span>Buy NFT</span>
                                                        </a>
                                                    </div>
                                                </div>
                                                <h5 class="name"><a href="javascript:void(0)" (click)="goToNftDetail(nft.mintAddress)">{{ nft.name }}</a></h5>
                                                <div class="author flex items-center">
                                                    <div class="info">
                                                        <span>Created by:</span>
                                                        <h6>
                                                            <a href="javascript:void(0)" (click)="goToNftDetail(nft.mintAddress)">    {{ nft.owner ? shorten(nft.owner) : 'Unknown' }}
                                                            </a>
                                                        </h6>
                                                    </div>
                                                </div>
                                                <div class="divider"></div>
                                                <div class="meta-info flex items-center justify-between">
                                                    <span class="text-bid">Current Price</span>
                                                    <h6 class="price gem"><i class="icon-gem"></i>{{ nft.price }}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 load-more" *ngIf="itemsToShowRune < nftRune.length">
                                            <a class="tf-button-loadmore" (click)="loadMoreRune()">
                                                <span>Load More</span>
                                                <i class="icon-loading-1"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

    </div>
    <!-- /#page -->
</div>
<!-- /#wrapper -->