<div id="wrapper">
    <div id="page" class="pt-40">
        <header id="header_main" class="header_1 header-fixed">
            <div class="themesflat-container">
                <div class="row">
                    <div class="col-md-12">                              
                        <div id="site-header-inner"> 
                            <div class="wrap-box flex">
                                <div id="site-logo">
                                  <!-- Jika belum login -->
                                  <a *ngIf="!userAddress" 
                                     [routerLink]="['/login']" 
                                     style="color: #161616;" 
                                     class="tf-button style-1">
                                    <span>Login / Sign Up</span>
                                  </a>

                                  <!-- Jika sudah login -->
                                  <a *ngIf="userAddress" 
                                     [routerLink]="['/market-layout/all-collection']" 
                                     style="color: #161616;" 
                                     class="tf-button style-1">
                                    <span>Marketplace</span>
                                  </a>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="flat-title-page">
            <div class="widget-bg-line">
                <div class="wraper">
                    <div class="bg-grid-line y bottom">
                        <div class="bg-line"></div>
                    </div>
                </div>
            </div>
            <div class="themesflat-container">
                <div class="row">
                    <div class="col-12">
                        <h1 class="heading text-center">Explore NFT's</h1>
                        <ul class="breadcrumbs flex justify-center">
                            <li class="icon-keyboard_arrow_right">
                                <a href="#">Home</a>
                            </li>
                            <li>
                                <a href="#">Explore</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="tf-section-2 discover-item loadmore-12-item">
            <div class="themesflat-container">
                <div class="row">
                    <div class="col-12">
                        <div class="widget-tabs relative">
                            <div class="tf-soft">
                                <div class="soft-right">
                                    <div class="dropdown" [class.show]="isOpen">
                                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton4" (click)="toggleDropdown()">
                                            <span>Sort by: {{ selected }}</span>
                                        </button>

                                        <div class="dropdown-menu" [class.show]="isOpen" aria-labelledby="dropdownMenuButton4">
                                            <h6 class="dropdown-header">Sort by</h6>
                                            <a class="dropdown-item" (click)="sortData('recent')">Recently added</a>
                                            <a class="dropdown-item" (click)="sortData('low')">Price: Low to High</a>
                                            <a class="dropdown-item" (click)="sortData('high')">Price: High to Low</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Tabs -->
                            <ul class="widget-menu-tab">
                                <li class="item-title" [class.active]="activeTab === 'character'" (click)="switchTab('character')">
                                    <span class="inner">Character</span>
                                </li>
                                <li class="item-title" [class.active]="activeTab === 'rune'" (click)="switchTab('rune')">
                                    <span class="inner">Items</span>
                                </li>
                            </ul>

                            <!-- Tab Content -->
                            <div class="widget-content-tab pt-10">
                                <!-- Character tab -->
                                <div class="widget-content-inner" [class.active]="activeTab === 'character'">
                                    <div class="row">
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-4" *ngFor="let nft of nftCharacter | slice:0:itemsToShowCharacter">
                                            <div class="tf-card-box style-1 d-flex flex-column">
                                                <div class="card-media">
                                                    <a href="javascript:void(0)" (click)="goToNftDetail(nft.mintAddress)">
                                                        <img [src]="nft.image || 'assets/images/box-item/card-item-53.jpg'" alt="">
                                                    </a>
                                                </div>
                                                <h5 class="name">{{ nft.name }}</h5>
                                                <div class="divider mt-auto"></div>
                                                <div class="meta-info flex items-center justify-between">
                                                    <span class="text-bid">Current Price</span>
                                                    <h6 class="price gem"><img src="assets/images/box-icon/coin-04.png" alt="" class="pr-2">{{ nft.price }}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="itemsToShowCharacter < nftCharacter.length">
                                        <div class="col-md-12 load-more">
                                            <a class="tf-button-loadmore" (click)="loadMoreCharacter()">
                                                <span>Load More</span><i class="icon-loading-1"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Rune tab -->
                                <div class="widget-content-inner" [class.active]="activeTab === 'rune'">
                                    <div class="row">
                                        <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 mb-4" *ngFor="let nft of nftRune | slice:0:itemsToShowRune">
                                            <div class="tf-card-box style-1 h-100 d-flex flex-column">
                                                <div class="card-media">
                                                    <a href="javascript:void(0)" (click)="goToNftDetail(nft.mintAddress)">
                                                        <img [src]="nft.image || 'assets/images/box-item/card-item-53.jpg'" alt="">
                                                    </a>
                                                </div>
                                                <h5 class="name">{{ nft.name }}</h5>
                                                <div class="divider mt-auto"></div>
                                                <div class="meta-info flex items-center justify-between">
                                                    <span class="text-bid">Current Price</span>
                                                    <h6 class="price gem"><img src="assets/images/box-icon/coin-04.png" alt="" class="pr-2">{{ nft.price }}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="itemsToShowRune < nftRune.length">
                                        <div class="col-md-12 load-more">
                                            <a class="tf-button-loadmore" (click)="loadMoreRune()">
                                                <span>Load More</span><i class="icon-loading-1"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!-- /#page -->
</div>
<!-- /#wrapper -->