<ion-tabs>
    <ion-tab-bar slot="bottom" class="bottom-tab-bar">
        <ion-tab-button tab="all-collection" [routerLink]="['/market-layout/all-collection']" routerLinkActive="active">
            <ion-icon name="storefront-outline"></ion-icon>
            <!-- <ion-label>All</ion-label> -->
        </ion-tab-button>

        <ion-tab-button tab="my-nfts" [routerLink]="['/market-layout/my-nfts']" routerLinkActive="active">
            <ion-icon name="grid-outline"></ion-icon>
            <!-- <ion-label>My NFT</ion-label> -->
        </ion-tab-button>

        <ion-tab-button tab="creates" *ngIf="role === 'admin'" [routerLink]="['/market-layout/creates']" routerLinkActive="active">
            <ion-icon name="add-circle-outline"></ion-icon>
            <!-- <ion-label>Creates</ion-label> -->
        </ion-tab-button>
        <ion-tab-button tab="gatcha" *ngIf="role != 'admin'" [routerLink]="['/market-layout/gatcha']" routerLinkActive="active">
            <ion-icon name="duplicate-outline"></ion-icon>
            <!-- <ion-label>Gatcha</ion-label> -->
        </ion-tab-button>

        <ion-tab-button tab="my-favorite" [routerLink]="['/market-layout/my-favorite']" routerLinkActive="active">
            <ion-icon name="heart-outline"></ion-icon>
            <!-- <ion-label>Favorite</ion-label> -->
        </ion-tab-button>

        <ion-tab-button tab="transactions" [routerLink]="['/market-layout/transactions']" routerLinkActive="active">
            <ion-icon name="filter-outline"></ion-icon>
            <!-- <ion-label>History</ion-label> -->
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>