<ion-content class="ion-padding" (ionScroll)="onScroll($event)" scrollEvents="true">  
  <div class="content-tabs" style="margin-top: 10vh;">
    <div class="">
        <div class="wrapper-content">
            <div class="themesflat-container">
                <div class="row">
                    <div class="col-md-12 pb-20">
                        <!-- Jika belum login -->
                        <a *ngIf="!isLoggedIn()" [routerLink]="['/explorer']" class="tf-button style-1 h50 w216">
                            Explore NFT<i class="icon-arrow-left2"></i>
                        </a>

                        <!-- Jika sudah login -->
                        <a *ngIf="isLoggedIn()" [routerLink]="['/market-layout/all-collection']" class="tf-button style-1 h50 w216">
                          All Collection<i class="icon-arrow-left2"></i>
                        </a>
                    </div>
                    <div class="col-md-6 pb-20" *ngIf="metadata">
                      <div class="tf-card-box style-5 mb-0">
                        <div class="card-media mb-0">
                          <a href="javascript:void(0)">
                            <img [src]="metadata.image || 'assets/images/box-item/product-detail-01.jpg'" alt="{{ metadata.name }}">
                          </a>
                        </div>
                        <h6 class="price gem">
                          <img src="assets/images/box-icon/coin-04.png" alt="">
                        </h6>
                        <div class="wishlist-button">10<i class="icon-heart"></i></div>
                        <div class="featured-countdown">
                          <span class="js-countdown" data-timer="7500" data-labels="d,h,m,s"></span>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6" *ngIf="metadata">
                      <div class="infor-product">
                        <div class="text">
                          {{ tokenSymbol }}
                          <span class="icon-tick"><span class="path1"></span><span class="path2"></span></span>
                        </div>

                        <!-- Dropdown menu -->
                        <div class="menu_card">
                          <div class="dropdown">
                            <div class="icon">
                              <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown">
                                <i class="icon-link-1"></i>
                              </a>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" (click)="copyLink()"><i class="icon-link"></i>Copy link</a>
                                <a class="dropdown-item"><i class="icon-facebook"></i>Share on Facebook</a>
                                <a class="dropdown-item mb-0"><i class="icon-twitter"></i>Share on Twitter</a>
                              </div>
                            </div>
                          </div>
                          <div class="dropdown">
                            <div class="icon">
                              <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown">
                                <i class="icon-content"></i>
                              </a>
                              <div class="dropdown-menu">
                                <a class="dropdown-item" (click)="refreshMetadata()"><i class="icon-refresh"></i>Refresh metadata</a>
                                <a class="dropdown-item mb-0"><i class="icon-report"></i>Report</a>
                              </div>
                            </div>
                          </div>
                        </div>

                        <!-- Nama NFT -->
                        <h2>{{ metadata?.name }}</h2>

                        <!-- Meta -->
                        <div class="meta mb-20">
                          <div class="meta-item view"><i class="icon-show"></i>{{ shortenAddress(metadata.properties?.creators?.[0]?.address) || 'Unknown' }}</div>
                          <div class="meta-item rating" (click)="openSolscan()"><i class="icon-arrow-up-right2"></i>Solscan</div>
                          <!-- <div class="meta-item favorites"><i class="icon-heart"></i>10 favorites</div> -->
                          <div class="meta-item favorites"><i class="icon-link-3"></i>{{ metadata.seller_fee_basis_points / 100 }}%</div>
                        </div>
                      </div>

                      <!-- Price -->
                      <div class="product-item time-sales">
                        <h6 *ngIf="mintAddress"><i class="icon-description"></i>{{ shortenAddress(mintAddress) }}</h6>
                        <div class="content">
                          <div class="text">Current price</div>
                          <div class="flex justify-between" style="display: flex;">
                            <p>
                              {{ formatPriceDisplay(metadata?.price, tokenSymbol) }} {{ metadata?.paymentSymbol || 'UOG' }}
                            </p>

                            <!-- Normal (Buy) -->
                            <a *ngIf="metadata.isSell"
                               (click)="toggleSendModal()" 
                               class="tf-button style-1 h50 w216">
                               Buy NFT<i class="icon-arrow-up-right2"></i>
                            </a>

                            <!-- Sell Mode -->
                            <a *ngIf="!metadata.isSell"
                               (click)="openSellModal()" 
                               class="tf-button style-1 h50 w216">
                               Sell NFT<i class="icon-arrow-up-right2"></i>
                            </a>
                          </div>
                        </div>
                      </div>

                      <!-- Description -->
                      <div class="product-item description">
                        <h6><i class="icon-description"></i>Description</h6>
                        <i class="icon-keyboard_arrow_down"></i>
                        <div class="content">
                          <p>{{ metadata.description }}</p>
                        </div>
                      </div>
                    </div>

                    <div class="col-md-12" *ngIf="metadata">
                      <!-- Attributes -->
                      <div class="product-item traits style-1">
                        <h6><i class="icon-description"></i>Traits</h6>
                        <i class="icon-keyboard_arrow_down"></i>
                        <div class="content">
                          <div class="trait-item" *ngFor="let attr of metadata.attributes">
                            <p>{{ attr.trait_type }}</p>
                            <div class="title">{{ attr.value }}</div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col-12" *ngIf="metadata">
                        <div class="product-item item-activity mb-0">
                            <h6><i class="icon-two-arrow rotateZ90"></i>Item activity</h6>
                            <i class="icon-keyboard_arrow_down"></i>
                            <div class="content">
                                <div class="table-heading">
                                    <div class="column">Event</div>
                                    <div class="column">Amount</div>
                                    <div class="column">Form</div>
                                    <div class="column">To</div>
                                    <div class="column">Date</div>
                                </div>
                                <div 
                                    class="table-item" 
                                    *ngFor="let h of metadata.history">
                                    <div class="column flex items-center">
                                      <i class="icon-two-arrow"></i>{{ h.event }}
                                    </div>
                                    <div class="column">{{ h.amount }}</div>
                                    <div class="column">
                                      <span class="tf-color">
                                        {{ h.from ? shortenAddress(h.from) : '-' }}
                                      </span>
                                    </div>
                                    <div class="column">
                                      <span class="tf-color">
                                        {{ h.to ? shortenAddress(h.to) : (shortenAddress(metadata.properties?.creators?.[0]?.address) || 'Unknown') }}
                                      </span>
                                    </div>
                                    <div class="column">
                                      {{ h.blockTime }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
  </div>

  <div class="custom-modal" *ngIf="showSendModal">
    <div class="modal-backdrop" (click)="resetSendModal()"></div>

    <div class="modal-sheet" [ngClass]="{ 'slide-up': !isClosingSend, 'slide-down': isClosingSend }">

      <!-- Step 1: Pilih Token -->
      <div *ngIf="!selectedToken && !isSending && !txSig">

        <h2 class="modal-title">
          Select {{ metadata?.character ? 'UOG' : 'Token' }} to Buy
        </h2>

        <!-- Jika bukan karakter → tampilkan search dan daftar token -->
        <form action="#" method="get" role="search" class="search-form relative" (submit)="$event.preventDefault()">
          <input
            type="search"
            id="search"
            class="search-field style-1"
            placeholder="Search..."
            [(ngModel)]="tokenSearch"
            name="tokenSearch"
          />
          <button class="search search-submit" type="submit"><i class="icon-search"></i></button>
        </form>

        <!-- List token -->
        <div class="widget-table-ranking pb-20" *ngIf="filteredTokens.length > 0">
          <div
            class="table-ranking-content"
            *ngFor="let token of filteredTokens"
            [class.disabled]="!token.selectable"
            (click)="token.selectable && buyNft(token)"
          >
            <div class="fl-row-ranking">
              <div class="td1">
                <div class="item-avatar">
                  <img [src]="token.logoURI" alt="{{ token.symbol }}" />
                </div>

                <div class="item-name">
                  <!-- 🔹 Nama token -->
                  <!-- {{ token.symbol }} -->

                  <!-- 💰 Harga NFT (harga listing dalam token ini) -->
                  <h6 class="price gem">
                    {{ getPriceDisplay(token).amount | number:'1.4-4' }} {{ token.symbol }}
                  </h6>

                  <!-- 👛 Tambahan: saldo pengguna -->
                  <span class="balance-info text-sm warning pt-1">
                    Balance: {{ token.amount | number:'1.4-4' }} {{ token.symbol }}
                  </span>
                </div>
              </div>

              <div class="td5">
                <h6 class="price gem">
                  ${{ getPriceDisplay(token).usd | number:'1.2-2' }}
                </h6>
              </div>
            </div>
          </div>
        </div>

        <!-- Treasury fee info -->
        <div class="widget-table-ranking pb-20" *ngIf="treasuryFeeUOG">
          <div class="table-ranking-content">
            <div class="fl-row-ranking">
              <div class="td1">
                <div class="item-name">
                  <!-- 🔹 Nama token -->
                  Treasury Fee

                  <!-- 💰 Harga NFT (harga listing dalam token ini) -->
                  <h6 class="price gem">
                    {{ treasuryFeeUOG.feeInUOG | number:'1.2-2' }} UOG
                  </h6>

                  <!-- 👛 Tambahan: saldo pengguna -->
                  <span class="balance-info text-sm warning pt-1">
                    {{ treasuryFeeUOG.solFee | number:'1.6-6' }} SOL
                  </span>
                </div>
              </div>

              <div class="td5">
                <h6 class="price gem">
                  ${{ treasuryFeeUOG.feeInUSD | number:'1.2-2' }}
                </h6>
              </div>
            </div>
          </div>
        </div>

        <div class="modal-actions">
          <button type="button" class="btn-cancel" (click)="resetSendModal()">Cancel</button>
        </div>
      </div>

      <!-- Step 2: Loading / Success -->
      <div *ngIf="isSending || txSig" @fadeSlide>
        <h2 class="modal-title" *ngIf="isSending">Processing Transaction...</h2>
        <div *ngIf="isSending" class="loading-spinner">
          <ion-spinner name="crescent"></ion-spinner>
        </div>

        <div *ngIf="txSig" class="success-tx" @fadeSlide>
          <h2 class="modal-title">Transaction Successful</h2>
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          <p>You sent {{ selectedToken?.amount }} {{ selectedToken?.symbol }}</p>
          <a
            [href]="'https://solscan.io/tx/' + txSig + '?cluster=mainnet'"
            target="_blank"
            class="btn-send"
          >
            View on Solscan
          </a>
          <div class="modal-actions">
            <button type="button" class="btn-cancel" (click)="resetSendModal()">
              Close
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="custom-modal" *ngIf="showSellModal">
    <div class="modal-backdrop" (click)="resetSellModal()"></div>

    <div class="modal-sheet" [ngClass]="{ 'slide-up': !isClosingSell, 'slide-down': isClosingSell }">

      <!-- Step 1: Input Harga & Royalty -->
      <div *ngIf="!isListing && !txSig">
        <h2 class="modal-title">List NFT for Sale</h2>

        <!-- Token Selector — hanya muncul jika NFT bukan karakter -->
        <div class="form-group">
          <label for="tokenSelect">Select Token</label>
          <select
            id="tokenSelect"
            [(ngModel)]="selectedToken"
            (ngModelChange)="onTokenChange()"
            class="form-control"
          >
            <option [ngValue]="null" disabled selected>-- Choose Token --</option>
            <option *ngFor="let token of uogTokens" [ngValue]="token">
              {{ token.name }}
            </option>
          </select>
        </div>

        <!-- Input harga -->
        <div class="form-group">
          <label for="price">
            Set Price ({{ metadata?.character ? 'UOG' : selectedToken?.symbol || 'Select Token' }})
          </label>
          <input
            id="price"
            type="number"
            [min]="sellPrice"
            [value]="sellPrice"
            step="0.0001"
            [(ngModel)]="sellPrice"
            placeholder="Enter price"
            class="form-control"
          />
        </div>

        <!-- Input royalty -->
        <div class="form-group">
          <label for="royalty">Royalty (%)</label>
          <input
            id="royalty"
            type="number"
            min="0"
            max="100"
            step="0.1"
            [(ngModel)]="sellRoyalty"
            placeholder="Enter royalty"
            class="form-control"
          />
        </div>

        <div class="modal-actions">
          <button type="button" class="btn-cancel" (click)="resetSellModal()">Cancel</button>
          <button
            type="button"
            class="btn-send"
            [disabled]="!sellPrice || (!metadata?.character && !selectedToken)"
            (click)="submitListing()"
          >
            List NFT
          </button>
        </div>
      </div>

      <!-- Step 2: Loading / Success -->
      <div *ngIf="isListing || txSig" @fadeSlide>
        <h2 class="modal-title" *ngIf="isListing">Listing NFT...</h2>
        <div *ngIf="isListing" class="loading-spinner">
          <ion-spinner name="crescent"></ion-spinner>
        </div>

        <div *ngIf="txSig" class="success-tx" @fadeSlide>
          <h2 class="modal-title">NFT Listed Successfully</h2>
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          <p>
            Your NFT is now on sale for
            {{ listedPrice | number:'1.4-4' }}
            {{ listedSymbol }}
            <br />

            <!-- tampilkan estimasi konversi -->
            <small *ngIf="listedSymbol === 'USDC'">
              (≈ {{ listedPrice * usdcToSolRate | number:'1.6-6' }} SOL)
            </small>
            <small *ngIf="listedSymbol === 'SOL'">
              (≈ {{ listedPrice * solToUsdcRate | number:'1.2-2' }} USDC)
            </small>

            <br />
            with {{ sellRoyalty }}% royalty
          </p>
          <div class="modal-actions">
            <button type="button" class="btn-cancel" (click)="resetSellModal()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="progress-wrap" [class.active-progress]="scrollIsActive" (click)="scrollToTop()">
      <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
      <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 286.138;"></path>
      </svg>
  </div>
</ion-content>