<ion-content>
  <app-market-layout>
      <div class="content-tabs">
          <div class="">
              <div class="wrapper-content">
                  <div class="themesflat-container">
                      <div class="row">
                          <div class="col-md-12 pb-20">
                              <!-- Jika belum login -->
                              <a *ngIf="!isLoggedIn()" [routerLink]="['/explorer']" class="tf-button style-1 h50 w216">
                                  Explore NFT<i class="icon-arrow-left2"></i>
                              </a>

                              <!-- Jika sudah login -->
                              <a *ngIf="isLoggedIn()" [routerLink]="['/all-collection']" class="tf-button style-1 h50 w216">
                                All Collection<i class="icon-arrow-left2"></i>
                              </a>
                          </div>
                          <div class="col-md-6 pb-20" *ngIf="metadata">
                            <div class="tf-card-box style-5 mb-0">
                              <div class="card-media mb-0">
                                <a href="javascript:void(0)">
                                  <img [src]="metadata.image || 'assets/images/box-item/product-detail-01.jpg'" alt="{{ metadata.name }}">
                                </a>
                              </div>
                              <h6 class="price gem">
                                <img src="assets/images/box-icon/coin-04.png" alt="">
                              </h6>
                              <div class="wishlist-button">10<i class="icon-heart"></i></div>
                              <div class="featured-countdown">
                                <span class="js-countdown" data-timer="7500" data-labels="d,h,m,s"></span>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-6" *ngIf="metadata">
                            <div class="infor-product">
                              <div class="text">
                                {{ metadata.symbol }}
                                <span class="icon-tick"><span class="path1"></span><span class="path2"></span></span>
                              </div>

                              <!-- Dropdown menu -->
                              <div class="menu_card">
                                <div class="dropdown">
                                  <div class="icon">
                                    <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown">
                                      <i class="icon-link-1"></i>
                                    </a>
                                    <div class="dropdown-menu">
                                      <a class="dropdown-item" (click)="copyLink()"><i class="icon-link"></i>Copy link</a>
                                      <a class="dropdown-item"><i class="icon-facebook"></i>Share on Facebook</a>
                                      <a class="dropdown-item mb-0"><i class="icon-twitter"></i>Share on Twitter</a>
                                    </div>
                                  </div>
                                </div>
                                <div class="dropdown">
                                  <div class="icon">
                                    <a href="javascript:void(0);" class="btn-link" data-bs-toggle="dropdown">
                                      <i class="icon-content"></i>
                                    </a>
                                    <div class="dropdown-menu">
                                      <a class="dropdown-item" (click)="refreshMetadata()"><i class="icon-refresh"></i>Refresh metadata</a>
                                      <a class="dropdown-item mb-0"><i class="icon-report"></i>Report</a>
                                    </div>
                                  </div>
                                </div>
                              </div>

                              <!-- Nama NFT -->
                              <h2>{{ metadata?.name }}</h2>

                              <!-- Meta -->
                              <div class="meta mb-20">
                                <div class="meta-item view"><i class="icon-show"></i>{{ shortenAddress(metadata.properties?.creators?.[0]?.address) || 'Unknown' }}</div>
                                <div class="meta-item rating" (click)="openSolscan()"><i class="icon-arrow-up-right2"></i>Solscan</div>
                                <!-- <div class="meta-item favorites"><i class="icon-heart"></i>10 favorites</div> -->
                                <div class="meta-item favorites"><i class="icon-link-3"></i>{{ metadata.seller_fee_basis_points / 100 }}%</div>
                              </div>
                            </div>

                            <!-- Price -->
                            <div class="product-item time-sales">
                              <h6><i class="icon-description"></i>{{ shortenAddress(mintAddress) }}</h6>
                              <div class="content">
                                <div class="text">Current price</div>
                                <div class="flex justify-between">
                                  <p [innerHTML]="metadata?.price ? formatWithZeroCount(metadata.price) : '-'"> SOL</p>
                                  <a (click)="toggleSendModal()" class="tf-button style-1 h50 w216">Buy NFT<i class="icon-arrow-up-right2"></i></a>
                                </div>
                              </div>
                            </div>

                            <!-- Description -->
                            <div class="product-item description">
                              <h6><i class="icon-description"></i>Description</h6>
                              <i class="icon-keyboard_arrow_down"></i>
                              <div class="content">
                                <p>{{ metadata.description }}</p>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-12" *ngIf="metadata">
                            <!-- Attributes -->
                            <div class="product-item traits style-1">
                              <h6><i class="icon-description"></i>Traits</h6>
                              <i class="icon-keyboard_arrow_down"></i>
                              <div class="content">
                                <div class="trait-item" *ngFor="let attr of metadata.attributes">
                                  <p>{{ attr.trait_type }}</p>
                                  <div class="title">{{ attr.value }}</div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-12" *ngIf="metadata">
                              <div class="product-item item-activity mb-0">
                                  <h6><i class="icon-two-arrow rotateZ90"></i>Item activity</h6>
                                  <i class="icon-keyboard_arrow_down"></i>
                                  <div class="content">
                                      <div class="table-heading">
                                          <div class="column">Event</div>
                                          <div class="column">Amount</div>
                                          <div class="column">Form</div>
                                          <div class="column">To</div>
                                          <div class="column">Date</div>
                                      </div>
                                      <div 
                                          class="table-item" 
                                          *ngFor="let h of metadata.history">
                                          <div class="column flex items-center">
                                            <i class="icon-two-arrow"></i>{{ h.event }}
                                          </div>
                                          <div class="column">{{ h.amount }}</div>
                                          <div class="column">
                                            <span class="tf-color">
                                              {{ h.from ? shortenAddress(h.from) : '-' }}
                                            </span>
                                          </div>
                                          <div class="column">
                                            <span class="tf-color">
                                              {{ h.to ? shortenAddress(h.to) : (shortenAddress(metadata.properties?.creators?.[0]?.address) || 'Unknown') }}
                                            </span>
                                          </div>
                                          <div class="column">
                                            {{ h.blockTime }}
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </app-market-layout>

  <div class="custom-modal" *ngIf="showSendModal">
    <div class="modal-backdrop" (click)="resetSendModal()"></div>

    <div class="modal-sheet" [ngClass]="{ 'slide-up': !isClosingSend, 'slide-down': isClosingSend }">

      <!-- Step 1: Pilih Token -->
      <div *ngIf="!selectedToken && !isSending && !txSig">
        <h2 class="modal-title">Select Token to Send</h2>

        <!-- 🔍 Search bar -->
        <form action="#" method="get" role="search" class="search-form relative" (submit)="$event.preventDefault()">
          <input
            type="search"
            id="search"
            class="search-field style-1"
            placeholder="Search..."
            [(ngModel)]="tokenSearch"
            name="tokenSearch"
            title="Search for"
          />
          <button class="search search-submit" type="submit" title="Search">
            <i class="icon-search"></i>
          </button>
        </form>

        <!-- List token -->
        <div class="widget-table-ranking pb-20" *ngIf="filteredTokens.length > 0">
          <div
            class="table-ranking-content"
            *ngFor="let token of filteredTokens"
            (click)="buyNft()"
          >
            <div data-wow-delay="0s" class="fl-row-ranking">
              <div class="td1">
                <div class="item-avatar">
                  <img [src]="token.logoURI || 'assets/images/box-item/rank-01.jpg'" alt="{{token.symbol}}">
                </div>
                <div class="item-name">
                  {{ token.symbol }}
                  <h6 class="price gem pt-10">{{ token.amount }}</h6>
                </div>
              </div>
              <div class="td5">
                <h6 class="price gem">
                  ${{ token.usdValue }}
                  <div class="td4 warning pt-10">
                    <span [ngClass]="token.trend > 0 ? 'warning' : (token.trend < 0 ? 'danger' : '')">
                      {{ token.trend > 0 ? '+' : ''}}{{ token.percentChange | number:'1.2-2' }}%
                    </span>
                    <i [ngClass]="token.trend > 0 ? 'icon-arrow-up2 warning' : (token.trend < 0 ? 'icon-arrow-down2 danger' : '')"></i>
                  </div>
                </h6>
              </div>
            </div>
          </div>
        </div>

        <!-- Kalau hasil kosong -->
        <div class="no-result" *ngIf="filteredTokens.length === 0">
          No tokens found
        </div>

        <div class="modal-actions">
          <button type="button" class="btn-cancel" (click)="resetSendModal()">Cancel</button>
        </div>
      </div>

      <!-- Step 2: Loading / Success -->
      <div *ngIf="isSending || txSig" @fadeSlide>
        <h2 class="modal-title" *ngIf="isSending">Processing Transaction...</h2>
        <div *ngIf="isSending" class="loading-spinner">
          <ion-spinner name="crescent"></ion-spinner>
        </div>

        <div *ngIf="txSig" class="success-tx" @fadeSlide>
          <h2 class="modal-title">Transaction Successful</h2>
          <ion-icon name="checkmark-circle-outline"></ion-icon>
          <p>You sent {{ selectedToken?.amount }} {{ selectedToken?.symbol }}</p>
          <a
            [href]="'https://solscan.io/tx/' + txSig + '?cluster=mainnet'"
            target="_blank"
            class="btn-send"
          >
            View on Solscan
          </a>
          <div class="modal-actions">
            <button type="button" class="btn-cancel" (click)="resetSendModal()">
              Close
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</ion-content>