#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

select {
    border: none;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    font-family: 'Azeret Mono';
    line-height: 22px;
    border-radius: 12px;
    padding: 15px 26px;
    width: 100%;
    background: #161616;
    color: #fff;
    height: 51.99px;
}

@media (max-width: 1200px) {
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 20px;
        left: 0px;
        width: 100%;
    }
    .style-bottom .swiper-button-prev {
        left: 36%;
    }
    .style-bottom .swiper-button-next {
        right: 35%;
    }
    .swiper-button-next, .swiper-button-prev, .next-3d, .prev-3d, .swiper-pagination {
        display: block;
    }
}